{% extends 'base.html' %}

{% block title %} Около | Tiny {% endblock %}
{% block og_title %} Около | Tiny {% endblock%}

{% block content %}
	<h1>О блоге </h1>
    <section class="main-block">
        <div class="container-fluid">
   			<div class="ml-4 mr-4 pt-0">
        		<div class="blog-full">
                	<div class="blog-content">
                    	<div class="blog-text">
                        	<h5>О сайте</h5>
                        	<p> Меня зовут Константинов Дмитрий, и я не являюсь профессиональным программистом. На данный момент это увлечение, которому я уделяю 1-2 часа в день(хотелось бы больше).В первую очередь сайт предназначен для закрепления информации, полученных из различных источников. На мой взгяд, хорошей привычкой является систематизировать полученные знания, путем написания подобия шпаргалки или рецепта.
                        	</p>
                      		<p>
                      			Публикуемый на сайте материал в основном затрагивает веб-разработку, язык программировани Python (различные его библиотеки), веб-фреймворк Django (и рассмотрения некоторых его модулей). Планируется также серия статей, касаемая алгоритмов и примеры их написания на Python и возможно Си.
                            Я всегда рад любой констуктивной критике. 
                      		</p>
                      		<p>
  								          Свои мысли и пожелания вы можете отправить на электронную почту <strong>
                              <a href="mailto:dcontm@gmail.com">dcontm@gmail.com</a></strong>
                      		</p>
                    	</div>
                	</div>     
         		</div>
         	</div>
        </div>
    </section>

  <!--//END BLOG -->
{% endblock %}