{% extends 'base.html' %}

{% block title %} Tiny | Python {% endblock %}
{% block og_title %} Tiny | Python {% endblock%}

{% block content %}
  <h1>Публикации Python </h1>

  <!-- Actual search box -->
  <form action="/search/">
    <div class="sidebar">
      <div class="widget-box">
          <div class="input-group">
                <input type="text" class="form-control comment-text" placeholder="Поиск по тегам.." aria-label="Recipient's username" name = "q">
            <div class="input-group-append">
              <input type="submit" value="GO" class="btn btn-outline-secondary btn-widget">
            </div>
          </div>
      </div>
    </div>
  </form>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Все</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/post/django/">Django</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/post/python/">Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/post/others/">Others</a>
    </li>
  </ul>
  <!--============================= BLOG 2 =============================-->
    <section class="main-block">
      <div class="container-fluid">
          <div class="row">
              {% for post in python_list %}
              <div class="col-md-6 col-lg-3 article-first">
                  <div class="news-block">
                      <img src="{{ post.label_img.url }}" class="img-fluid" alt="image">
                      <div class="news-title">
                          <p>{{post.created}}</p>
                          <h5>{{post.headline}}</h5>
                          <h6>
                            <i class="fa fa-thumbs-up"></i> {{post.likesystem.likes.count}}&nbsp;
                            <i class="fa fa-thumbs-down"></i> {{post.likesystem.dislikes.count}}&nbsp;
                            <i class="fa fa-eye"></i> {{post.views}}&nbsp;
                            <i class="fa fa-comments"></i> {{post.comment_set.count}}&nbsp;
                          </h6>
                          <a href="/post/{{post.id}}" class="blog2-link">Read More ➝</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>

          {% if is_paginated %}
          <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">В начало</a></li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В конец</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
          </div>
          {% endif %}

      </div>
    </section>
  <!--//END BLOG -->
{% endblock %}